body {
    font-family: Inter;
    background-color: #FAFAFA;
}
.all-container {
    height: 95vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.phone-outside {
    height: 85vh;
    width: 38vh;
    background-color: white;
    border-radius: 50px;
    padding: 10px;
    box-shadow: 0px 5px 30px 0px rgba(0, 0, 0, 0.2);
}
.phone-inside {
    background-color: #F5F3F8;
    height: 100%;
    width: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notch {
    background-color: white;
    width: 20vh;
    height: 3.5vh;
    border-radius: 0 0 15px 15px;
    position: fixed;
}
.top-bar-contents {
    padding: 6vh 3vh 2vh 3vh;
    display: flex;
    align-items: center;
}
.top-bar {
    height: 13vh;
    background: linear-gradient(90deg, #7B37DE, #E146FC);
    width: 100%;
    border-radius: 40px 40px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-side {
    display: flex;
    gap: 1vh;
    align-items: center;
    width: 25vh;
}
.dp {
    height: 5vh;
    border-radius: 2.5vh;
}
.name {
    color: #EFD0FD;
    font-weight: 600;
    font-size: 14px;
}
.text {
   font-size: 10px;
   color: #E18AFE; 
}
.chat {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    padding: 1vh;
    height: 80%;
    justify-content: space-evenly;
}
.sender {
    background-color: #EDE5F4;
    color: #AE8BC2;
    width: 70%;
    font-size: 10px;
    border-radius: 10px 10px 10px 0;
    padding: 1vh;
}
.images {
    display: flex;
    justify-content: right;
    gap: 1vh;
}
.dog {
    width: 9vh;
    border-radius: 20px;
}
.receiver-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1vh;
}
.receiver {
    background-color: white;
    color: rgb(100, 100, 100);
    font-size: 10px;
    width: 70%;
    border-radius: 10px 10px 0px 10px;
    padding: 1vh;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.1);
}
.pay-card {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(90deg, #D84EEF, #873DF4);
    padding: 1vh;
    border-radius: 20px 20px 20px 0;
}
.pay-left {
    display: flex;
    align-items: center;
    gap: 1.5vh;
}
.pay-card .text {
    color: #EFD0FD;
}
.circle {
    height: 3vh;
    width: 3vh;
    border-radius: 3vh;
    background-color: #E18AFE;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.amount {
    display: flex;
    color: white;
    font-size: 16px;
    font-weight: 700;
}
.message {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-radius: 30px 30px;
    height: 10%;
    margin: 1.5vh;
    background-color: white;
    padding: 0 2vh;
    width: 30vh;
}
.message .text {
    color:rgb(105, 105, 105)
}
.icon {
    height: 2.5vh;
    width: 2.5vh;
}
.send-container {
    display: flex;
    justify-content: flex-end;
}
.send {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4vh;
    width: 4vh;
    border-radius: 4vh;
    background-color: #3B234F;
}

@media screen and (max-width: 576px) {
    .all-container {
        padding: 0 1vw;
    }
    .sender, .receiver, .text {
        font-size: 70%;
    }
}